.scrollbar-container {
  overflow: hidden;
  position: relative;
}

.scrollbar-container:hover .scrollbar-vertical-track  {
  opacity: 1;
}

.scrollbar-vertical-track {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 8px;
  background-color: #ff9d0036;
  opacity: 0;
  transition: opacity 0.25s;
}

[dir="rtl"] .scrollbar-vertical-track {
  left: 0;
  right: initial;
}

.vertical-thumb {
  cursor: pointer;
  width: 8px;
  border-radius: 4px;
  background: gray;
}

.scrollbar-container:hover .scrollbar-horizontal-track  {
  opacity: 1;
}

.scrollbar-horizontal-track {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8px;
  width: 100%;
  background-color: #ff9d0036;
  opacity: 0;
  transition: opacity 0.25s;
}

.horizontal-thumb {
  cursor: pointer;
  height: 8px;
  border-radius: 4px;
  background: gray;
}

.scrollbar-outer {
  height: 100%;
  overflow: auto;
  /* 在元素上滚动时避免外部容器滚动 */
  overscroll-behavior: contain;
  scrollbar-width: none; /* firefox */
}

.scrollbar-outer::-webkit-scrollbar { /* chrome & safari */
  width: 0;
  height: 0;
}

.scrollbar-inner {
  height: auto;
  width: fit-content;
}
